body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5e805b;
}

.h1-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  font-size: 2.5em; 
  color: rgb(245, 246, 211); 
  text-align: center; 
  margin-top: 20px;
}

.welcome-message {
  font-family: 'Itim', cursive;
  font-size: 2em; 
  margin-top: 25px;
  margin-bottom: -10px;
  color: #333; 
  text-align: center; 
}


header {
  width: 100%;
  background-color: transparent;
  color: 141E0C;
  padding: 1rem 0;
  text-align: center;
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Itim', cursive;
  font-size: 2em; 
  color: #333; 
  margin: 15px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box {
  background-color: rgb(245, 246, 211);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  width: 80%;
  max-width: 600px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#waterConsumption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sleepAverage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#sleepQuality {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#stepGoalComparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#waterConsumptionText {
  margin-top: 20px;
  text-align: center;
}

#userInfo {
  text-align: center;
  margin-top: 2rem;
}


.userData {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
  min-width: 50%;
  min-height: 30%;
  justify-items: center; 
  margin-top: 1rem; 
  max-width: 600px; 
}
